@import url("style.css");
html{
    font-size: 18px;
}
video.kep{
    width: 22rem;
}
main p, .felirat{
    text-align: left;
    font-size: 30px;
}
body h1{
    font-size: 5rem;
}
img.kep{
    width: 20rem;
    margin-left: -2rem;
}